Assalamualaikum {{ username }},<br />

<p>Welcome to {{ app_name }}. You have been registered to our system as an <b>{{ role }}</b>.</p>

<p>
    Your username is <b>{{ username }}</b>.<br />
    Please set your password at: {{ resetUrl }}
</p>


Thanks<br />
---<br />
<address>
{{ app_name }}
</address>