{% extends "FOSUserBundle::layout_boxed.html.twig" %}

{% block title %}Sign In{% endblock %}
{% block message %}Sign In{% endblock %}

{% block fos_user_content %}
    {% if error %}
        <div class="alert alert-error alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
            <strong>Error!</strong>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Username" name="_username" required />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" name="_password" required />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox" class="icheck"> &nbsp;Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
    <hr>
    <i class="fa fa-key fa-fw" style="color: #ccc"></i> <a href="{{ url('fos_user_resetting_request') }}">I forgot my password</a><br>
    {#<i class="fa fa-user-plus fa-fw" style="color: #ccc"></i> <a href="{{ path('fos_user_registration_register') }}" class="text-center">Register new user</a>#}
{% endblock fos_user_content %}