<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/AdminLTE/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{{ asset('assets/AdminLTE/dist/css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/AdminLTE/dist/css/skins/skin-blue.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/AdminLTE/plugins/iCheck/square/blue.css') }}">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    {% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<body class="hold-transition login-page">

{% block body %}
<div class="login-box">
    <div class="login-logo">
        <a href="#">{{ app_name }}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h4 class="login-box-msg text-bold text-info">{% block message %}{% endblock %}</h4>

        {{ include('flash_message.html.twig') }}
        {% block fos_user_content %}{% endblock %}
    </div>
    <!-- /.login-box-body -->
</div>
{% endblock %}
<!-- /.login-box -->

<!-- REQUIRED JS SCRIPTS -->
{% block javascripts %}

<script src="{{ asset('assets/AdminLTE/plugins/jQuery/jQuery-2.2.0.min.js') }}"></script>
<script src="{{ asset('assets/AdminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/AdminLTE/plugins/iCheck/icheck.min.js') }}"></script>

<script src="{{ asset('js/app.js') }}"></script>

{% block documentReady %}
<script>
    jQuery(document).ready(function() {
        $('input.icheck').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>
{% endblock %}

{% endblock %}

</body>